@{
    ViewData["Title"] = "Index";
}
<style>
    img {
        width: 384px !important;
        height: 216px !important;
    }
</style>

<div class="row text-center">

    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <img src="~/menu/sach.jpg" class="img-thumbnail" />
            <div class="card-body">
                <h3 id="sach" class="card-title"><a asp-area="Manager" asp-controller="Sach" asp-action="Index">Sách</a></h3>
                <p class="card-text">
                   
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <img src="~/menu/book-genres.jpg" class="img-thumbnail" />
            <div class="card-body">
                <h3 class="card-title"><a asp-area="Manager" asp-controller="TheLoai" asp-action="Index">Thể loại</a></h3>
                <p class="card-text">
                   
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <img src="~/menu/change-wordpress-authors-featured-image.jpg" class="img-thumbnail" />
            <div class="card-body">
                <h3 class="card-title"><a asp-area="Manager" asp-controller="TacGia" asp-action="Index">Tác giả</a></h3>
                <p class="card-text">
                    
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <img src="~/menu/nxb.jpg" class="img-thumbnail" />
            <div class="card-body">
                <h3 class="card-title"><a asp-area="Manager" asp-controller="NhaXuatBan" asp-action="Index">Nhà xuất bản</a></h3>
                <p class="card-text">
                    
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <img src="~/menu/reader.jpg" class="img-thumbnail" />
            <div class="card-body">
                <h3 class="card-title"><a asp-area="Manager" asp-controller="DocGia" asp-action="Index">Độc giả</a></h3>
                <p class="card-text">
                    
                </p>
            </div>
        </div>
    </div>
</div>