@{
    ViewData["Title"] = "Index";
}
<style>
    img {
        width: 384px !important;
        height: 216px !important;
    }
</style>

<div class="row text-center">

    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <img src="~/menu/sach.jpg" class="img-thumbnail" />
            <div class="card-body">
                <h3 id="card-title" class="card-title"><a asp-area="Manager" asp-controller="NhanVien" asp-action="Index">Nhân viên</a></h3>
                <p class="card-text">

                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <img src="~/menu/book-genres.jpg" class="img-thumbnail" />
            <div class="card-body">
                <h3 class="card-title"><a asp-area="Manager" asp-controller="Khach" asp-action="Index">Khách hàng</a></h3>
                <p class="card-text">

                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <img src="~/menu/change-wordpress-authors-featured-image.jpg" class="img-thumbnail" />
            <div class="card-body">
                <h3 class="card-title"><a asp-area="Manager" asp-controller="TourDuLich" asp-action="Index">Tour</a></h3>
                <p class="card-text">

                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <img src="~/menu/nxb.jpg" class="img-thumbnail" />
            <div class="card-body">
                <h3 class="card-title"><a asp-area="Manager" asp-controller="DoanDuLich" asp-action="Index">Đoàn</a></h3>
                <p class="card-text">

                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <img src="~/menu/reader.jpg" class="img-thumbnail" />
            <div class="card-body">
                <h3 class="card-title"><a asp-area="Manager" asp-controller="LoaiChiPhi" asp-action="Index">Loại chi phí</a></h3>
                <p class="card-text">

                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <img src="~/menu/reader.jpg" class="img-thumbnail" />
            <div class="card-body">
                <h3 class="card-title"><a asp-area="Manager" asp-controller="LoaiHinhDuLich" asp-action="Index">Loại hình du lịch</a></h3>
                <p class="card-text">

                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <img src="~/menu/reader.jpg" class="img-thumbnail" />
            <div class="card-body">
                <h3 class="card-title"><a asp-area="Manager" asp-controller="DiaDiem" asp-action="Index">Địa điểm</a></h3>
                <p class="card-text">

                </p>
            </div>
        </div>
    </div>
</div>