<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewData["Title"] - Quản Lý Tour</title>

    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-area="Manager" asp-controller="Home" asp-action="Index">

                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>

                <div class="sidebar-brand-text mx-3">Tour</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

            <!-- Quản lý -->
            <hr class="sidebar-divider my-0">

            <!-- Divider -->
            <hr class="sidebar-divider">

            <li class="nav-item">
                <a class="nav-link collapsed" asp-area="Manager" asp-controller="NhanVien" asp-action="Index">
                    <i></i>
                    <span>Quản lý nhân viên</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" asp-area="Manager" asp-controller="Tour" asp-action="Index">
                    <i></i>
                    <span>Quản lý tour</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" asp-area="Manager" asp-controller="DoanDuLich" asp-action="Index">
                    <i></i>
                    <span>Quản lý đoàn</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" asp-area="Manager" asp-controller="LoaiChiPhi" asp-action="Index">
                    <i></i>
                    <span>Quản lý loại chi phí</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" asp-area="Manager" asp-controller="NhaXuatBan" asp-action="Index">
                    <i></i>
                    <span>Quản lý nhà xuất bản</span>
                </a>
            </li>
           
            <li class="nav-item">
                <a class="nav-link collapsed" asp-area="Manager" asp-controller="PhieuMuon" asp-action="Index">
                    <i></i>
                    <span>Xử lý mượn sách</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" asp-area="Manager" asp-controller="PhieuPhat" asp-action="Index">
                    <i></i>
                    <span>Xử lý vi phạm</span>
                </a>
            </li>           
        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto text-dark">
                        <!-- Nav Item - User Information -->
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Manager" asp-controller="Home" asp-action="Index">Trang quản lý</a>
                        </li>
                    </ul>
                </nav>

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    @RenderBody()
                </div>

                <!-- End of Main Content -->
            </div>

            <!-- End of Content Wrapper -->
        </div>
        <!-- End of Page Wrapper -->
    </div>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    @RenderSection("scripts", required: false)
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/js/sb-admin-2.min.js"></script>
    <script src="~/vendor/chart.js/Chart.min.js"></script>
    <script src="~/js/demo/chart-area-demo.js"></script>
    <script src="~/js/demo/chart-pie-demo.js"></script>
</body>
</html>