@using Domain.Entities
@inject Microsoft.AspNetCore.Identity.SignInManager<AppUser> _signInManager

@if (_signInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Chào @User.Identity.Name
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" asp-action="Index" asp-controller="Home" asp-area="Manager">Manager</a>
            <a class="dropdown-item" asp-action="Logout" asp-controller="Account">Logout</a>
        </div>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Login">Log In</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Signup">Sign Up</a>
    </li>
}